@import "bourbon/bourbon";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);
@include font-face("codropsicons", "/css/fonts/scodropsicons/codropsicons", $file-formats: eot woff2 woff);

$magenta: #E25ABC;
$bluegray: #383E4C;
$linegray: #D6D6D6;
$modular-scale-ratio: $golden;
$modular-scale-base: 12px;

@mixin bdr($w: 1px, $color: red){
	border: $w solid $color;
}

*{
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
  	font-size: modular-scale(1);
  	color: $bluegray;
  	// @include bdr;
}

*:focus {
    outline: none;
}

body{
	background-color: $bluegray;
}

header{
	font-size: 40px;
	@include margin(20px 0px 0px 0px);
}

header,h1{
	color: $magenta;
}

h1,h2{
	@include margin(0px);
	@include padding(0);
	font-size: 30px;
	line-height: 30px;
}

h1{
	@include padding(10px null 5px null);
}

button{
	background: transparent;
	cursor: pointer;
	@include bdr(0px);
}

.container{
	@include outer-container(90%);
}

.comment-area{
	@include outer-container(100%);
	@include margin(10px 0);
	background-color: white;
}

.discussion, .comment-list,.comment-holder{
	position: relative;
	 @include outer-container(100%);
}

.comment-holder{
	@include bdr(1px, green);
}

.comments-replies-holder{
	@include outer-container(100%);
	@include bdr(1px, blue);	

	.comment-holder{
		 @include omega;
		 @include span-columns(2 of 6);
	}
}


.discussion{

	.discussionHeader{
		min-height: 95px;
		@include position(relative);	
	}

}

.author-holder{
	$size: 105px;
	$h: 70px;
	@include position(relative, 10px null null null);
	@include margin(0px 10px 10px 10px);
	width: $size;
	height: $h;
	float: left;

	.authorBubbleHolder{
		width: $size;
		height: $h;
		@include position(absolute, 0px null null 0px);

		.authorBubble{
			fill: white;
			stroke: $linegray;
			stroke-width: 5;
		}
	}

	.author-name{
		@include position(absolute, 10px null null 10px);
		font-size: 16px;
	}
}

.comment-date{
	@include position(absolute,10px null null 100%);
	min-width: 220px;
	@include margin(0px 0px 0px -220px);
	@include padding(null 10px null null);
	text-align: right;
}

.button-show-comments{
	$size: 43px;
	$spanwidth: 90px;
	$spanheight: 15px;

	$scaleAdjust: 10px;
	$position: 100%;
	@include position(absolute, $position null null $position);
	@include margin( (-($size + $scaleAdjust)) null null (-($size + $scaleAdjust)));
	@include transform(scale(1.15));
	width: $size;
	height: $size;
	overflow: hidden;

	span{
		$w: $spanwidth;
		$h: $spanheight;

		width: $w;
		height: $h;
		color: $magenta;
		@include position(absolute, 50% null null 0px);
		@include margin((-($h/2)) null null (-($w)) );

		@include border-style(null null null solid);
		border-color: $linegray;
		border-width: 2px;

		clip: rect(0px $spanwidth $spanheight $spanwidth);
		font-size: 12px;
		line-height: 10px;
		@include padding(2px null null null);
		text-align: right;

		@include transition(clip .25s);
	}

	.showIcon1Holder{
		$w: 27px;
		$h: 17px;
		@include position(absolute, 0 null null 50%);
		@include margin(0px null null (-($w/2)));
		width: $w;
		height: $h;

		@include transition(all .25s);


		&.stack0{
			top: 50%;
			@include transform(translateY(-10px));
		}
	}
	.showIcon1{
		fill: white;
		stroke: $magenta;
		stroke-width: 2;
	}

	.showIcon2Holder{
		$w: 27px;
		$h: 10px;
		width: $w;
		height: $h;
		@include position(absolute, 0 null null 50%);
		@include margin(0px null null (-($w/2)));

		@include transition(all .25s);

		&.stack1{
			top: 50%;
			@include transform(translateY(-2px));
			
		}

		&.stack2{
			top: 50%;
			@include transform(translateY(0px));
		}

		&.stack3{
			top: 50%;
			@include transform(translateY(2px));
		}
	}
	.showIcon2{
		fill: transparent;
		stroke: $magenta;
		stroke-width: 2;
	}

	&:hover{
		span{
			clip: rect(0px $spanwidth $spanheight 0px);
		}
	}


	&:hover{

		overflow: visible;

		.showIcon1Holder{
			&.stack0{
				@include transform(translateY(-15px));
			}
		}

		.showIcon2Holder{
			&.stack1{
				@include transform(translateY(-3px));
			}

			&.stack2{
				@include transform(translateY(2px));
			}

			&.stack3{
				@include transform(translateY(7px));
			}

		}

	}

	&.maximized{
		.showIcon1Holder{
			&.stack0{
				@include transform(translateY(-15px));
			}
		}

		.showIcon2Holder{
			&.stack1{
				@include transform(translateY(-3px));
			}

			&.stack2{
				@include transform(translateY(2px));
			}

			&.stack3{
				@include transform(translateY(7px));
			}

		}
	}

	&.maximized:hover{

		.showIcon1Holder{
			&.stack0{
				@include transform(translateY(-10px));
			}
		}

		.showIcon2Holder{
			&.stack1{
				@include transform(translateY(-2px));
			}

			&.stack2{
				@include transform(translateY(0px));
			}

			&.stack3{
				@include transform(translateY(2px));
			}

		}
	}




}